<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profinpagella - Valuta i tuoi professori</title>

    <link rel="stylesheet" href="/css/error404.css">
    <link rel="stylesheet" href="/css/media-queries/general-queries.css">
    <link rel="icon" type="image/png" href="/immagini_icone/favicon/faviconDEMO.png">
</head>
<body>
    <nav class="nav-2">
        <div class="contenitore-logo">
            <img class="logo" src="/immagini_icone/logo.jpg">
        </div>
    </nav>
    <section class="sezione-error404">
        <img class="immagine-404" src="/immagini_icone/error404.jpg">
        <h1 class="testo-404">Bene, qualche altro passaggio ed avrai completato la registrazione <br> Clicca il link che hai ricevuto sulla tua mail <a class="link-404 testo-404" href="#"><%= token.user.email %></a> </p>
            <h2>Se la mail non ti è arrivata, prova a ricaricare la pagina</h2>
        <a class="link-404" href="/">Torna alla home</a>
    </section>
</body>
</html>