<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profinpagella - Valuta i tuoi professori</title>

    <link rel="icon" type="image/png" href="/immagini_icone/favicon/faviconDEMO.png">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/media-queries/general-queries.css">
</head>
<body>
<div class="contenitore-info first">
            <h1 class="titolo-info"> Cosa sta succedendo? </h1>
            <h2>Ci hanno cancellato</h2>
            <p>Stanno quindi girando voci su una possibile denuncia da parte del corpo docenti nei nostri confronti e non si sa ancora bene per quale motivo in particolare</p>
            <p>Questo piattaforma è nata per attribuire il diritto di parola nei limiti dell'educazione agli studenti che evidentemente si sta lentamente perdendo, il sistema in cui ci troviamo non ci da la possibilità di esprimerci e questo ne è la prova</p>
            <p>Se i nostri cari professori minacciano di cancellarci seppur avendo letto nei <a href="" style="color: black; text-decoration: none">Termini e condizioni</a> che noi ci esentiamo da alcun tipo di responsabilità per i contenuti pubblicati dagli utenti e ci impegniamo a cancellare i commenti denigratori e che violano le nostre policy,<br> <b>Perchè mai dovrebbero farlo allora?</b></p>
            <h1>Vogliono cancellare la verità e non credo possiamo stare a guardare.</h1>
    </div>
</body>
</html>
