<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profinpagella - Valuta i tuoi professori</title>

    <link rel="icon" type="image/png" href="/immagini_icone/favicon/faviconDEMO.png">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/media-queries/general-queries.css">
</head>
<body>
<div class="contenitore-info first">
            <h1 class="titolo-info"> Cosa sta succedendo? </h1>
            <h2>Ci hanno cancellato</h2>
            <p>Ci scusiamo per tutti i danni ai professori<p>
            <p>Voce della verità per qualche giorno</p>
            <p>-Mario Francesco Loberto</p>
    </div>
</body>
</html>
