<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profinpagella - Valuta i tuoi professori</title>
    <meta http-equiv="Cross-Origin-Embedder-Policy" content="require-corp">

    <link rel="icon" type="image/png" href="/immagini_icone/favicon/faviconDEMO.png">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/media-queries/general-queries.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9093760943973600"
     crossorigin="anonymous"></script>
     <script type="text/javascript">
var infolinks_pid = 3393420;
var infolinks_wsid = 0;
</script>
<script type="text/javascript" crossorigin="anonymous" src="https://resources.infolinks.com/js/infolinks_main.js"></script>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-H7PPHZG8JR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-H7PPHZG8JR');
</script>
 </head>
<body>

    <nav>
        <div class="contenitore-logo">
            <img class="logo" src="/immagini_icone/logo.jpg">
        </div>
        <div class="contenitore-registrazione">
            <% if (!user) { %>
            <a class="tasto-accedi" href="/login">Accedi</a>
            <a class="tasto-registrati" href="/signup">Registrati</a>
            <% } else { %>
            <form action="/logout" method="POST">
                <button class="logout" type="submit">Esci dal profilo</button>
            </form>
            <% } %>
        </div>
    </nav>
    <section class="sezione-cerca">
        <form action="/teachers" class="form-barra-di-ricerca" method="POST">
            <p class="testo-barra-di-ricerca">Cerca i tuoi professori</p>
            <button class="icona-barra-di-ricerca"><img src="/immagini_icone/ricerca.png"></button> 
            <input type="search" class="barra-di-ricerca" placeholder="Cerca per cognome o materia" name="result"> 
            <div id="error">
                <%= messages %>
            </div>
        </form>
    </section>
    
    <div class="contenitore-info first">
            <h1 class="titolo-info"> Cosa sta succedendo? </h1>
            <h2>Vogliono Cancellarci?</h2>
            <p>Stanno quindi girando voci su una possibile denuncia da parte del corpo docenti nei nostri confronti e non si sa ancora bene per quale motivo in particolare</p>
            <p>Questo piattaforma è nata per attribuire il diritto di parola nei limiti dell'educazione agli studenti che evidentemente si sta lentamente perdendo, il sistema in cui ci troviamo non ci da la possibilità di esprimerci e questo ne è la prova</p>
            <p>Se i nostri cari professori minacciano di cancellarci seppur avendo letto nei <a href="/terms" style="color: black; text-decoration: none">Termini e condizioni</a> che noi ci esentiamo da alcun tipo di responsabilità per i contenuti pubblicati dagli utenti e ci impegniamo a cancellare i commenti denigratori e che violano le nostre policy,<br> <b>Perchè mai dovrebbero farlo allora?</b></p>
            <h1>Vogliono cancellare la verità e non credo possiamo stare a guardare.</h1>
    </div>

    <section class="sezione-informazioni">
        <div class="contenitore-info" id="news">
            <p class="titolo-info" id="news"> <img class="logo-info" src="immagini_icone/novita.png" alt="">Novita'</p>
            <h3 class="News-h3"><li>Da oggi puoi mettere &#10084; alle recensioni di ogni professore!</li></h3>
        </div>
        <div class="contenitore-info GuideLines">
            <p class="titolo-info">Linee guida</p>
            <ul class="lista-regole">
                <li>Non insultare o denigrare i docenti.</li>
                <li>Non raccontare cose private.</li>
                <li>Non nominare altri studenti.</li>
                <li> <b>Le valutazioni che non seguono le linee guida verranno eliminate</b> </li>
            </ul>
        </div>
        <div class="contenitore-info">
            <p class="titolo-info"> <img class="logo-info" src="immagini_icone/iniziare.png" alt="">Come funziona?</p>
            <p>Su Profinpagella puoi cercare  il <b>cognome</b> o la <b>materia</b> del tuo professore per valutarlo.</p>
            <b>Nota bene: le email della "scuola" non sono supportate.</b>
            <p>Il sito e' al momento disponibile solo per <b>IISS Majorana</b> di Martina franca.</p>
        </div>
        <div class="contenitore-info">
            <p class="titolo-info"> <img class="logo-info" src="immagini_icone/materie.png" alt="">Lista materie</p>
            <ul class="lista-regole">
                <li>Lettere(Storia e Italiano)</li>
                <li>Matematica.</li>
                <li>Geografia</li>
                <li>Fisica</li>
                <li>Informatica e laboratorio</li>
                <li>Scienze naturali</li>
                <li>Inglese</li>
                <li>Educazione fisica</li>
                <li>Disegno tecnico e Arte</li>
                <li>Filosofia</li>
                <li>Religione</li>
            </ul>
        </div>
        <div class="contenitore-info">
            <p class="titolo-info"> <img class="logo-info" src="immagini_icone/at.png" alt="">Servizio clienti</p>
            <p>Per contattarci scrivi alla email: <b>profinpagella@gmail.com</b>.</p>
            <p>Oppure sul nostro profilo instagram: <b>@profinpagella</b>.</p>
            <a href="/terms" style="color:black;"><p>Procedendo con l'utilizzo del sito, accetti i seguenti termini e condizioni</p></a>
        </div>
    </section>

    <footer>
        <a class="link-footer" href="/privacy">Privacy</a>
        <a class="link-footer" href="/terms">Termini d'uso</a>
        <a class="link-footer" href="/cookies">Cookies</a>
    </footer>
</body>
</html>

<script>
    /*
const search = document.querySelector('.barra-di-ricerca')
const form = document.querySelector('.form-barra-di-ricerca')
const errorElement = document.getElementById('error')

console.log(search);

form.addEventListener('submit', (e) => {
  let messages = []
  if (search.value === '' || search.value == null) {
    messages.push('Devi prima inserire un testo nella barra di ricerca')
  }

  if (messages.length > 0) {
    e.preventDefault()
    errorElement.innerText = messages.join(', ')
  }
})*/
</script>
