<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profinpagella - Valuta i tuoi professori</title>
    <meta http-equiv="Cross-Origin-Embedder-Policy" content="require-corp">

    <link rel="icon" type="image/png" href="/immagini_icone/favicon/faviconDEMO.png">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/media-queries/general-queries.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9093760943973600"
     crossorigin="anonymous"></script>
     <script type="text/javascript">
var infolinks_pid = 3393420;
var infolinks_wsid = 0;
</script>
<script type="text/javascript" crossorigin="anonymous" src="https://resources.infolinks.com/js/infolinks_main.js"></script>
    
 </head>
<body>

    <nav>
        <div class="contenitore-logo">
            <img class="logo" src="/immagini_icone/logo.jpg">
        </div>
        <div class="contenitore-registrazione">
            <% if (!user) { %>
            <a class="tasto-accedi" href="/login">Accedi</a>
            <a class="tasto-registrati" href="/signup">Registrati</a>
            <% } else { %>
            <form action="/logout" method="POST">
                <button class="logout" type="submit">Esci dal profilo</button>
            </form>
            <% } %>
        </div>
    </nav>
    <section class="sezione-cerca">
        <form action="/teachers" class="form-barra-di-ricerca" method="POST">
            <p class="testo-barra-di-ricerca">Cerca i tuoi professori</p>
            <button class="icona-barra-di-ricerca"><img src="/immagini_icone/ricerca.png"></button> 
            <input type="search" class="barra-di-ricerca" placeholder="Cerca per cognome o materia" name="result"> 
            <div id="error">
                <%= messages %>
            </div>
        </form>
    </section>

    <section class="sezione-informazioni">
        <div class="contenitore-info" id="news">
            <p class="titolo-info" id="news"> <img class="logo-info" src="immagini_icone/novita.png" alt="">Novita'</p>
            <h3 class="News-h3"><li>Da oggi puoi mettere <img width="20" src="/immagini_icone/heart.png" alt=""> alle recensioni di ogni professore!</li></h3>
            <h3 class="News-h3"><li>Stiamo lavorando per togliere qualsiasi recensione offensiva... per ulteriori segnalazioni contattarci su <b>profinpagella@gmail.com</b></h3></li>
        </div>
        <div class="contenitore-info">
            <p class="titolo-info"> <img class="logo-info" src="immagini_icone/iniziare.png" alt="">Come funziona?</p>
            <p>Su Profinpagella puoi cercare  il <b>cognome</b> o la <b>materia</b> del tuo professore per valutarlo.</p>
            <b>Nota bene: le email della "scuola" non sono supportate.</b>
            <p>Il sito e' al momento disponibile solo per <b>IISS Majorana</b> di Martina franca.</p>
        </div>
        <div class="contenitore-info">
            <p class="titolo-info"> <img class="logo-info" src="immagini_icone/materie.png" alt="">Lista materie</p>
            <ul class="lista-regole">
                <li>Lettere(Storia e Italiano)</li>
                <li>Matematica.</li>
                <li>Geografia</li>
                <li>Fisica</li>
                <li>Informatica e laboratorio</li>
                <li>Scienze naturali</li>
                <li>Inglese</li>
                <li>Educazione fisica</li>
                <li>Disegno tecnico e Arte</li>
                <li>Filosofia</li>
                <li>Religione</li>
            </ul>
        </div>
        <div class="contenitore-info">
            <p class="titolo-info"> <img class="logo-info" src="immagini_icone/at.png" alt="">Servizio clienti</p>
            <p>Per contattarci scrivi alla email: <b>profinpagella@gmail.com</b>.</p>
            <p>Oppure sul nostro profilo instagram: <b>@profinpagella</b>.</p>
        </div>
    </section>

    <footer>
        <a class="link-footer" href="/privacy">Privacy</a>
        <a class="link-footer" href="/terms">Termini d'uso</a>
        <a class="link-footer" href="/cookies">Cookies</a>
    </footer>
</body>
</html>

<script>
    /*
const search = document.querySelector('.barra-di-ricerca')
const form = document.querySelector('.form-barra-di-ricerca')
const errorElement = document.getElementById('error')

console.log(search);

form.addEventListener('submit', (e) => {
  let messages = []
  if (search.value === '' || search.value == null) {
    messages.push('Devi prima inserire un testo nella barra di ricerca')
  }

  if (messages.length > 0) {
    e.preventDefault()
    errorElement.innerText = messages.join(', ')
  }
})*/
</script>
