/*GENERALI*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link, a:visited{
    color: #000000;
    text-decoration: none;
}



/*NAV*/
.nav-2{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.2rem 1.6rem;
    box-shadow: 0 2px 6px 0 #0000001f;
}

.contenitore-logo{
    display: flex;
    align-items: center;
}

.logo{
    width: 3.2rem;
}



/* STILE DEL FORM */
/* QUESTO DA LO STILE A FORMA DI SCHEDA DEL FORM */
.contenitore-valutazione{
    padding: 4rem 1.6rem;
    gap: 1.6rem;
    /* Allinea gli elementi dentro al form verticalmente */
    display: flex;
    flex-direction: column;
    position: relative;
}

.obbligatorio{ /* È L'ASTERISCO ROSSO CHE INDICA L'OBBLIGATORIETÀ DELLE COSE DA FARE */
    color: #000000;
    font-size: 2rem;
}

.titolo-voto, .titolo-recensione{
    font-size: 2rem;
    font-weight: 500;
}

.voto{ /* Stile dell'input della scelta del voto */
    padding: 1.2rem 1.6rem;
    border-radius: 10px;
    border: 1.6px solid #D9D9D9;
    margin-bottom: 0.4rem;
    font-size: 1.6rem;
    background-color: white;
}

.linee-guida{ /* Stile de box delle linee guida */
    background-color: #f9f9f9;
    border-radius: 4px;
    color: #161616;
    padding: 1.6rem;
}
.titolo-linee-guida{
    font-size: 1.6rem;
    font-weight: 500;
    color: #161616;
    margin-bottom: 0.8rem;
}
.linee-guida li{ /* Stile dei vari punti da rispettare */
    font-size: 1.6rem;
    margin-left: 1.8rem;
    margin-bottom: 0.4rem;
}

.recensione{ /* Stile del textarea in cui scrivere la recensione */
    min-height: 100px;
    padding: 1.2rem;
    border-radius: 4px;
    border: 1.6px solid #D9D9D9;
    font-size: 1.8rem;
    font-family: inherit;
    resize: none;
}
.recensione::placeholder{ /* Stile del placeholder (non eredita le caratteristiche dai genitori */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    color: #9A9A9A;
}

.bottone-invio{ /* Stile bottone per inviare il form */
    text-decoration: none;
    font-family: inherit;
    color: #ffffff !important;
    background-color: #161616;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1.2rem 0;
    border-radius: 100px;
    border: none;
    /* Serve per centrare il testo */
    appearance: none; /* Questo serve per far si che su safari il bottone non cambia lo stile che abbiamo scelto */
}

.valutazione__voto-real-time {
    font-size: 2.8rem;
    font-weight: 500;
    height: 60px;
    width: 60px;
    color: white;
    border-radius: 4px;
    background: #000000;
    padding: 0.8rem 1.6rem;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem
}


.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #dddddd;
    border-radius: 1.5rem;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  

.slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
  }
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #000000;
    cursor: pointer;
    border-radius: 50%;
  }
* {
    color: white;
}
