/*GENERALI*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link, a:visited{
    color: #000000;
    text-decoration: none;
}



/*NAV*/
.nav-2{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.2rem 1.6rem;
    box-shadow: 0 2px 6px 0 #0000001f;
}

.contenitore-logo{
    display: flex;
    align-items: center;
}

.logo{
    width: 3.2rem;
}





/* SEZIONE PROFILO */
.sezione-profilo{ /* Qesta e l'estetica della sezione profilo */
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-size: 1.6rem;
    padding: 1.6rem;
}

.nome-profilo{ /* Stile nome del professore */
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.4rem;

}

.media-totale{ /* QUESTO E LO STILE DEL VOTO DELLA MEDIA CHE CAMBIA IN BASE AL PROD (QUINDI QUESTO E LO SPAN) */
    font-size: 4rem;
    color: #161616;
    font-weight: 700;
}

.bottone-valutazione{ /* BOTTONE PER RECENSIRE IL PROF */
    text-decoration: none;
    color: #ffffff !important;
    background-color: #000000;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1.2rem 0;
    border-radius: 100px;
    /* Serve per centrare il testo */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.4rem 0;
}






/* SEZIONE RECENSIONI */
.sezione-recensioni{ /* SEZIONE CON TUTTE LE RECENSIONI */
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    padding: 1.6rem 1.2rem;
    gap: 1rem;

}

.contenitore-recensione{ /* STILE DEL BOX */
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    background-color:rgb(248, 248, 248);
    border-radius: 4px;
}

.dati-utente{ /* QUESTO E IL BOX CHE COMPRENDE I DATI DELL'UTENTE CHE HA PUBBLICATO LA RECENSIONE (NOME E DATA)*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #161616;
}

.valutazione-numerica{ /* STILE DEL VOTO MASSIMO "/10" */
    font-size: 2.8rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #000000;
    height: 60px;
    width: 60px;
    margin: 1.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.materia-profilo {
    color: #0060df;
}

.avg-vote {
    background-color: #0060df;
    font-size: 2.8rem;
    font-weight: 500;
    color: #ffffff;
    height: 60px;
    width: 60px;
    margin: 1.2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}



.bottone-like{
    display: flex;
    gap: 0.4rem;
    align-items: center;
    margin-top: 1rem;
}

.bottone-like img{
    width: 2rem;
}

.bottone-like span{
    font-size: 2.4rem;
    color: #0060df;
}

.bottone-like button {
    outline: none;
    background: none;
    border: none
}

