/*GENERALI*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    height: 100vh;
}


/*SEZIONE ERROR 404*/
.sezione-error404{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    padding: 0 2.8rem;
    height: fit-content;
    margin: auto 0;
    transform: translate(0 , -20% );
}

.immagine-404{
    width: 60%;
}

.testo-404{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.link-404:link, .link-404:visited{
    font-size: 1.6rem;
    color: #5341F5;
    font-weight: 500;
}

a:link, a:visited{
    color: #161616;
    text-decoration: none;
}



/*NAV*/
.nav-2{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1.2rem 1.6rem;
    box-shadow: 0 2px 6px 0 #0000001f;
}

.contenitore-logo{
    display: flex;
    align-items: center;
}

.logo{
    width: 3.6rem;
}



/* STILE DEL FORM */
/* QUESTO DA LO STILE A FORMA DI SCHEDA DEL FORM */
.contenitore-valutazione{
    padding: 4rem 1.6rem;
    gap: 1.6rem;
    /* Allinea gli elementi dentro al form verticalmente */
    display: flex;
    flex-direction: column;
}

.obbligatorio{ /* È L'ASTERISCO ROSSO CHE INDICA L'OBBLIGATORIETÀ DELLE COSE DA FARE */
    color: #5341F5;
    font-size: 2rem;
}

.titolo-voto, .titolo-recensione{
    font-size: 2rem;
    font-weight: 500;
}

.voto{ /* Stile dell'input della scelta del voto */
    padding: 1.2rem 1.6rem;
    border-radius: 10px;
    border: 1.6px solid #D9D9D9;
    margin-bottom: 0.4rem;
    font-size: 1.6rem;
    background-color: white;
}

.linee-guida{ /* Stile de box delle linee guida */
    background-color: #f9f9f9;
    border-radius: 10px;
    color: #161616;
    padding: 1.6rem;
}
.titolo-linee-guida{
    font-size: 1.6rem;
    font-weight: 500;
    color: #161616;
    margin-bottom: 0.8rem;
}
.linee-guida li{ /* Stile dei vari punti da rispettare */
    font-size: 1.6rem;
    margin-left: 1.8rem;
    margin-bottom: 0.4rem;
}

.recensione{ /* Stile del textarea in cui scrivere la recensione */
    min-height: 100px;
    padding: 1.2rem;
    border-radius: 6px;
    border: 1.6px solid #D9D9D9;
    font-size: 1.6rem;
    font-family: inherit;
}
.recensione::placeholder{ /* Stile del placeholder (non eredita le caratteristiche dai genitori */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem;
    color: #9A9A9A;
}

.bottone-invio{ /* Stile bottone per inviare il form */
    text-decoration: none;
    font-family: inherit;
    color: #ffffff !important;
    background-color: #161616;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1.2rem 0;
    border-radius: 10px;
    border: none;
    /* Serve per centrare il testo */
    appearance: none; /* Questo serve per far si che su safari il bottone non cambia lo stile che abbiamo scelto */
}

/*NAV*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1.2rem 1.6rem;
    box-shadow: 0 2px 6px 0 #0000001f;
}

.contenitore-logo{
    display: flex;
    align-items: center;
}

.logo{
    width: 3.6rem;
}

.contenitore-registrazione{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.tasto-accedi:link, .tasto-accedi:visited{
    text-decoration: none;
    color: #101010;
    font-weight: 600;
    font-size: 1.6rem;
}

.tasto-registrati:link, .tasto-registrati:visited{
    text-decoration: none;
    color: #ffffff;
    background-color: #161616;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 0.8rem 1.2rem;
    border-radius: 10px;
}







/*BARRA DI RICERCA*/
.form-barra-di-ricerca{
    position: relative;
    padding-top: 6rem;
    padding-bottom: 6rem;

}

.barra-di-ricerca{
    width: calc(100% - 36px);
    height: 54px;
    border: none;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding-left: 44px;
    font-weight: 400;
    font-size: 2rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
}
/* Questo serve per togliere l'estetica di base di ios dalla barra di ricerca (a noi non serve)*/
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
-webkit-appearance:none;
}

.barra-di-ricerca::placeholder{
    font-size: 2rem;
    color: #868686;
    font-family: inherit;
    font-weight: 400;
}

.icona-barra-di-ricerca{
    background: none;
    border: none;
    position: absolute;
    margin-top: 9px;
    margin-left: 26px;
}

.icona-barra-di-ricerca img{
    width: 3.4rem;
}



/*SEZIONE INFORMAZIONI DEL SITO*/
.sezione-informazioni{
    padding: 1.8rem;

    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.contenitore-info{
    padding: 1.6rem;
    border-radius: 8px;
    font-size: 1.6rem;
    color: #202020;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    background-color: #f9f9f9;
}

.titolo-info{
    font-size: 2rem;
    font-weight: 600;
    color: #5341F5;

    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.logo-info{
    width: 2rem;
}

.lista-regole{
    margin-left: 1.8rem;
}





/*FOOTER*/
footer{
    margin-top: 4rem;
    padding: 4rem;
    background-color: #f9f9f9;
    font-size: 1.6rem;

    display: flex;
    justify-content: center;
    gap: 1.2rem;
}

/* STILE DEL FORM */
/* QUESTO DA LO STILE A FORMA DI SCHEDA DEL FORM */

.accedi{
    background-color: white;
    border: 1.4px solid #D9D9D9;
    border-radius: 6px;
    width: 480px;
    height: fit-content;
    padding: 1.8rem;
    gap: 1.2rem;
    /* Allinea gli elementi dentro al form verticalmente */
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    /* Font di base del form */
    font-size: 1.6rem;
}

.titolo{
    font-size: 2.4rem;
    font-weight: 600;margin-bottom: 4rem;
}


.obbligatorio{ /* È L'ASTERISCO ROSSO CHE INDICA L'OBBLIGATORIETÀ DELLE COSE DA FARE */
    color: red;
}

.input{ /* Stile dell'input degli input */
    height: 42px;
    padding: 0 1.2rem;
    border-radius: 6px;
    border: 1.4px solid #D9D9D9;
    margin-bottom: 0.4rem;
    font-size: 1.6rem;
    background-color: white;
}

.bottone-recupero-password, .bottone-recupero-password:visited{
    color: #2DA8E3;
    margin-bottom: 2rem;
}

.bottone-invio{ /* Stile bottone per inviare il form */
    background-color: #2DA8E3;
    border-radius: 6px;
    font-size: 1.6rem;
    border: 0px;
    height: 36px;
    color: white;
    transition: all 0.4s;
    appearance: none; /* Questo serve per far si che su safari il bottone non cambia lo stile che abbiamo scelto */
}
.bottone-invio:hover, .bottone-invio:active{ /* Quando sei sopra o clicchi il bottone */
    background-color: #2595c9;
    transition: all 0.4s;
}


.bottone-accedi, .bottone-accedi:visited{
    color: #2DA8E3;
    margin-top: 2rem;
}


/* ELEMENTI DELLA SEZIONE PROFILO */
.sezione-profilo{ /* QUesta e l'estetica della sezione profilo */
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    background-color: white;
    padding: 1.8rem;
    border: 1.4px solid #D9D9D9;
    border-radius: 6px;
    width: 480px;
}

.nome-profilo{ /* Stile nome del professore */
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 0.4rem;

}

.media-totale{ /* Lo stile del voto massimo che si puo avere "/10" */
    color: #9A9A9A;
}

.voto-della-media-totale{ /* QUESTO E LO STILE DEL VOTO DELLA MEDIA CHE CAMBIA IN BASE AL PROD (QUINDI QUESTO E LO SPAN) */
    font-size: 6rem;
    color: black;
    font-weight: 700;
}

.numero-di-valutazioni{ /* NUMERO DI VALUTAZIONI DELLA MEDIA */
    font-size: 1.4rem;
    color: #9A9A9A;
    margin-bottom: 1.2rem;
}

.bottone-valutazione{ /* BOTTONE PER RECENSIRE IL PROF */
    width: 100%;
    background-color: #2DA8E3;
    color: white;
    text-decoration: none;
    height: 4.2rem;
    border-radius: 6px;
    /* Serve per centrare il testo */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.4rem;
    /* Sempre per la transizione di quandi lo clicchi o ci vai sopra */
    transition: all 0.4s;
}
.bottone-valutazione:hover, .bottone-valutazione:active{ /* Stile per quando vai sul o clicchi il bottone */
    background-color: #2595c9;
    transition: all 0.4s;
}






/* SEZIONE RECENSIONI */
.sezione-recensioni{ /* SEZIONE CON TUTTE LE RECENSIONI */
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    background-color: white;
    padding: 1.8rem;
    border: 1.4px solid #D9D9D9;
    border-radius: 6px;
    width: 480px;
}

.dati-della-recensione{ /* QUESTO E IL BOX CHE COMPRENDE I DATI DELL'UTENTE CHE HA PUBBLICATO LA RECENSIONE (NOME E DATA)*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #9A9A9A;
}

.box-recensione{ /* STILE DEL BOX */
    padding: 1.8rem;
    padding-bottom: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
    border-top: 1.4px solid #D9D9D9;
}
.box-recensione:first-of-type{ /* SERVE PER TOGLIERE IL BORDO SUPERIORE DALLA PRIMA RECENSIONE */
    border-top: none;
}

.valutazione-numerica{ /* STILE DEL VOTO MASSIMO "/10" */
    font-size: 1.4rem;
    color: #9A9A9A;
    margin-bottom: 1.2rem;
}
.voto-numerico{ /* STILE DEL VOTO CHE CAMBIA IN BASE ALLA RECENSIONE, QUINDI È LO SPAN */
    font-size: 6rem;
    color: black;
    font-weight: 700;
}

/* SEZIONE PROFILO */
.sezione-profilo{ /* Qesta e l'estetica della sezione profilo */
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-size: 1.6rem;
    padding: 1.6rem;
}

.nome-profilo{ /* Stile nome del professore */
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0.4rem;

}

.media-totale{ /* QUESTO E LO STILE DEL VOTO DELLA MEDIA CHE CAMBIA IN BASE AL PROD (QUINDI QUESTO E LO SPAN) */
    font-size: 4rem;
    color: #161616;
    font-weight: 700;
}

.bottone-valutazione{ /* BOTTONE PER RECENSIRE IL PROF */
    text-decoration: none;
    color: #ffffff !important;
    background-color: #161616;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1.2rem 0;
    border-radius: 10px;
    /* Serve per centrare il testo */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.4rem 0;
}






/* SEZIONE RECENSIONI */
.sezione-recensioni{ /* SEZIONE CON TUTTE LE RECENSIONI */
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    padding: 1.6rem;
    gap: 1.4rem;

}

.contenitore-recensione{ /* STILE DEL BOX */
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.dati-utente{ /* QUESTO E IL BOX CHE COMPRENDE I DATI DELL'UTENTE CHE HA PUBBLICATO LA RECENSIONE (NOME E DATA)*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #161616;
}

.valutazione-numerica{ /* STILE DEL VOTO MASSIMO "/10" */
    font-size: 2.8rem;
    font-weight: 600;
    color: #161616;
    margin: 1.2rem 0;
}

.contenitore-registrazione{
    padding: 1.6rem;
    gap: 1.2rem;
    /* Allinea gli elementi dentro al form verticalmente */
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    /* Font di base del form */
    font-size: 1.6rem;
}

.titolo-registrazione{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.titolo-input{
    font-size: 2rem;
    font-weight: 500;
}

.obbligatorio{ /* È L'ASTERISCO ROSSO CHE INDICA L'OBBLIGATORIETÀ DELLE COSE DA FARE */
    color: #5341F5;
    font-size: 2rem;
}

.input{ /* Stile dell'input degli input */
    padding: 1.2rem 1.6rem;
    border-radius: 10px;
    border: 1.6px solid #D9D9D9;
    margin-bottom: 0.4rem;
    font-size: 1.6rem;
    background-color: white;
}

.bottone-recupero-password, .bottone-recupero-password:visited{
    color: #2DA8E3;
    margin-bottom: 2rem;
}

.bottone-invio{ /* Stile bottone per inviare il form */
    text-decoration: none;
    font-family: inherit;
    color: #ffffff !important;
    background-color: #161616;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1.2rem 0;
    border-radius: 10px;
    border: none;
    /* Serve per centrare il testo */
    appearance: none; /* Questo serve per far si che su safari il bottone non cambia lo stile che abbiamo scelto */
}

.risultati-ricerca{
    padding: 1.8rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contenitore-risultato-ricerca{
    padding: 1.8rem;
    border-radius: 8px;
    font-size: 1.6rem;
    color: #202020;

    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    background-color: #f9f9f9;
}

.nome-professore-ricerca{
    font-size: 1.8rem;
    font-weight: 500;
}

.scuola-professore-ricerca, .citta-professore-ricerca{
    font-size: 1.4rem;
}

.materia-professore-ricerca{
    color: #5341F5;
}

.registrati{
    background-color: white;
    border: 1.4px solid #D9D9D9;
    border-radius: 6px;
    width: 480px;
    height: fit-content;
    padding: 1.8rem;
    gap: 1.2rem;
    /* Allinea gli elementi dentro al form verticalmente */
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    /* Font di base del form */
    font-size: 1.6rem;
}

.titolo{
    font-size: 2.4rem;
    font-weight: 600;margin-bottom: 4rem;
}


.obbligatorio{ /* È L'ASTERISCO ROSSO CHE INDICA L'OBBLIGATORIETÀ DELLE COSE DA FARE */
    color: red;
}

.input{ /* Stile dell'input degli input */
    height: 42px;
    padding: 0 1.2rem;
    border-radius: 6px;
    border: 1.4px solid #D9D9D9;
    margin-bottom: 0.4rem;
    font-size: 1.6rem;
    background-color: white;
}


.bottone-invio{ /* Stile bottone per inviare il form */
    background-color: #2DA8E3;
    border-radius: 6px;
    font-size: 1.6rem;
    border: 0px;
    height: 36px;
    color: white;
    transition: all 0.4s;
    appearance: none; /* Questo serve per far si che su safari il bottone non cambia lo stile che abbiamo scelto */
}
.bottone-invio:hover, .bottone-invio:active{ /* Quando sei sopra o clicchi il bottone */
    background-color: #2595c9;
    transition: all 0.4s;
}


.bottone-registrati, .bottone-registrati:visited{
    color: #2DA8E3;
    margin-top: 2rem;
}
