@media screen and (max-width: 520px) {
    /* SERVE PER TOGLIERE SFONDO GRIGIO E DISTACCO CON LE SEZIONI DELLA PAGINA */    
    body{
        padding: 0;
        background-color: white;
    }
    /* TOGLIE I BORDI E ADATTA LA SEZIONE PROFILO ALLA PAGINA MOBILE E TABLET */
    .sezione-profilo{
        width: 100%;
        border: none;
        padding-top: 0;
    }
    /* TOGLIE I BORDI E ADATTA LA SEZIONE RECENSIONI ALLA PAGINA MOBILE E TABLET */
    .sezione-recensioni{
        width: 100%;
        border: none;
    }
    /* SERVE PER DARE LO STILE DIVERSO ALLE RECENSIONI SU MOBILE E SMARTPHONE, QUINDI BOX CON SFONDO SCURO SENZA BORDI*/
    .box-recensione{
        background-color: #F7F7F7;
        border: none;
        margin-bottom: 1.6rem;
    }
    .box-recensione:first-of-type{
        border-top: none;
    }

}
