@media screen and (max-width: 520px) {
    /* SERVE PER TOGLIERE SFONDO GRIGIO E DISTACCO CON LE SEZIONI DELLA PAGINA */    
    body{
        padding: 0;
        background-color: white;
    }

    .accedi{
      border: none;
      width: 100%;
    }

    

}