<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy"
  content="default-src 'self' data:gap: https://www.profinpagella.com 
  https://ssl.gstatic.com 'unsafe-eval';
  style-src 'self' 'unsafe-inline';
  media-src *;
  script-src 'bf622fdc5301aa535c80c290fd8449ec8599fc12b134339acc0b043e53a8e562'
">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profinpagella - Valuta i tuoi professori</title>

    <!-- LINK AI FOGLI DI CSS -->
    <link rel="stylesheet" href="/css/form-recensione.css">
    <link rel="stylesheet" href="/css/media-queries/general-queries.css">

    <!-- RISOLUZIONE ZOOM TESTI INPUT -->
    <style type="text/css"> 
        input {font-size: 16px;}
    </style>

     <script src="/voto-real-time.js" nonce="rAnd0m"></script>

</head>
<body>

    <nav class="nav-2">
        <div class="contenitore-logo">
            <img class="logo" src="/immagini_icone/logo.jpg">
        </div>
    </nav>

    <!-- FORM DELLA RECENSIONE -->
    <form action="/teachers/<%= teacher._id %>/review" class="contenitore-valutazione" method="POST">
        <!-- SERVE PER SCEGLIERE IL VOTO DA DARE -->
        <label for="voto" class="titolo-voto">Scegli il voto <span class="obbligatorio">*</span></label>
        <input class="slider" id="voto" type="range" name="review[vote]" value="1" step="0.5" min="1" max="10" oninput="showVal(this.value)" onchange="showVal(this.value)">

        <!--Codice provvisorio -->
        <p class="valutazione__voto-real-time">
            
        </p>
        <!-- Codice provvisorio -->
        <!-- SERVE PER SCEGLIERE LA RECENSIONE DA SCRIVERE -->
        <label for="recensione" class="titolo-recensione">Scrivi una recensione <span class="obbligatorio">*</span></label>
                    <!-- Queste sono le linee guida da rispettare -->
        <div class="linee-guida">
            <p class="titolo-linee-guida">Linee guida</p>
            <ul class="punti-linee-guida">
                <li>Non insultare o denigrare i docenti.</li>
                <li>Non raccontare cose private.</li>
                <li>Non nominare altri studenti.</li>
            </ul>
        </div>
        <!-- INPUT DELLA RECENSIONE SCRITTA -->
        <textarea id="recensione" name="review[msg]" class="recensione" placeholder="Scrivi ciò che pensi..."></textarea>
        <!--  BOTTONE PER PUBBLICARE LA RECENSIONE-->
        <input type="submit" Value="Invia valutazione" class="bottone-invio">
    </form>
</body>
</html>
